[MASTER]
ignore=curation_portal/migrations
django-settings-module=curation_portal.settings.base
load-plugins=pylint_django

[MESSAGES_CONTROL]
disable=
  bad-continuation,  # conflicts with Black formatting
  line-too-long,     # conflicts with Black formatting
  duplicate-code,
  missing-docstring

[MISCELLANEOUS]
notes=FIXME,TODO
